/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav li {
  line-height: 40px;
  margin-bottom: 2px; }

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #f3f3f3;
  background-color: #3e5fc2; }
  .sidebar-nav li a .menu-icon {
    width: 40px;
    display: inline-block;
    text-align: center; }
  .sidebar-nav li a .menu-item {
    font-size: 10pt;
    font-weight: bold; }

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #f3f3f3;
  background: rgba(255, 255, 255, 0.2); }

.sidebar-nav > li > a:active, .sidebar-nav > li > a:focus {
  text-decoration: none;
  border-left: 5px solid;
  border-left-color: #00c0ef;
  background-color: #f3f3f3;
  color: #292d70; }

.toggled .sidebar-nav > li > a:active, .toggled .sidebar-nav > li > a:focus {
  text-decoration: none;
  border-left: 10px solid;
  border-left-color: #00c0ef;
  background-color: #f3f3f3;
  color: #292d70; }

.sidebar-nav > .sidebar-brand {
  height: 80px;
  font-size: 18px;
  line-height: 30px;
  text-align: start;
  color: #00c0ef; }

.sidebar-nav > .sidebar-brand a {
  background: none;
  color: #00c0ef;
  font-weight: bold;
  font-size: 14px; }

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none; }

.sub-menu {
  margin: 0;
  padding: 0; }

.sub-menu li {
  border-bottom: #f3f3f3;
  padding-left: 5px;
  line-height: 30px; }

.sub-menu li a {
  background: none;
  text-indent: 10px; }

.sub-menu li a .menu-item {
  display: none; }

.toggled .sub-menu li a .menu-item {
  display: inline-block; }

.sidebar-bottom-item .menu-item {
  color: #f3f3f3;
  font-size: 12px;
  font-weight: normal; }

body {
  overflow-x: hidden; }

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled {
  padding-left: 250px; }

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #282d6f;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled #sidebar-wrapper {
  width: 250px; }

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding-left: 50px; }

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
  padding: 0; }

@media (min-width: 768px) {
  #wrapper {
    padding-left: 0; }
  #wrapper.toggled {
    padding-left: 250px; }
  #sidebar-wrapper {
    width: 50px; }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px; }
  #page-content-wrapper {
    /* padding: 20px; */
    position: relative;
    background-color: #f3f3f3; }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0; } }

.test {
  width: 50px; }

.bar {
  height: 50px; }

h6 {
  color: #292d70;
  font-weight: 900; }

.tbl-header {
  color: #292d70;
  font-weight: 700;
  font-size: 1em; }
